* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

img {
    width: 20%;
}


.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
}

.square {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
